---
import { getAllModels } from '../../data/loadFindingModels';
const models = getAllModels();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finding Models Home</title>
  </head>
  <body>
    <h1>Welcome to Finding Models</h1>
    <ul>
      {models.map(model => (
        <li>
          <a href={`${model.slug}/`}>{model.name ?? model.slug}</a>
        </li>
      ))}
    </ul>
  </body>
</html>
