---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getAllModels } from '../../data/loadFindingModels';
const models = getAllModels();
---
<BaseLayout>
  <h1 slot="head">Welcome to Finding Models</h1>
  <ul>
    {models.map(model => (
      <li>
        <a href={`${model.slug}/`}>{model.name ?? model.slug}</a>
      </li>
    ))}
  </ul>
</BaseLayout>
