---
import { getAllModels } from '../data/loadFindingModels';
const models = getAllModels().slice(0, 5);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Finding Models</title>
  </head>
  <body>
    <h1>Finding Models</h1>
    <p>This site hosts a searchable, structured index of radiology finding models.</p>
    <ul>
      {models.map(model => (
        <li>
          <a href={`/models/${model.slug}/`}>{model.name ?? model.slug}</a>
        </li>
      ))}
    </ul>
    <p><a href="/models/">Browse All Models</a></p>
    <p>
      <a href="https://github.com/openimagingdata/findingmodels/issues/new">
        Submit an Issue to Propose a Change
      </a>
    </p>
    <p>
      <a href="https://forge.findingmodels.org">
        Launch Finding Model Forge
      </a>
    </p>
  </body>
</html>
