---
const base = import.meta.env.BASE_URL;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <slot name="head" />
    <link rel="stylesheet" href={`${base}styles/global.css`} />
  </head>
  <body>
    <slot />
  </body>
</html>